<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ChatCat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
        <link href="../public/css/chatrooms.css" rel="stylesheet">
        
    </head>
    <body>
        <div class="ui text container raised segment">
            <div class="ui header huge">ChatCat</div>
            <div class="ui divider"></div>
            <img class="ui avatar image" src="../public/images/default-profile.png" alt="">
            <span>Username</span>
            <div class="ui right floated horizontal list">
                <a class="item" href="#">Logout</a>
            </div>
            <br>
            <br>
            <div class="ui action input fluid">
                <input type="text" placeholder="Rome Name">
                <button class="ui button">Ceate Room</button>
            </div>
            <div class="ui segment rooms">
                <div class="ui middle aligned large selection list">
                    <div class="item">
                        <div class="header">Helen</div>
                    </div>
                    <div class="item">
                        <div class="header">Christian</div> 
                    </div>
                    <div class="item">
                        <div class="header">Daniel</div>
                    </div>
                    <div class="item">
                        <div class="header">Daniel</div>
                    </div>
                    <div class="item">
                        <div class="header">Daniel</div>
                    </div>
                </div>
            </div>
        </div>


        <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    </body>
</html>