<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ChatCat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
        <link href="../public/css/index.css" rel="stylesheet">
        
    </head>
    <body>
        <div class="ui text container">
            <div class="ui raised segment center aligned">
                
                <h1 class="ui header"><i class="huge comments outline icon"></i> Welcome to ChatCat!</h1>
                <a href=""><img src="../public/images/fb.png" alt=""></a>
                
            </div>
        </div>


        <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    </body>
</html>