<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ChatCat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
        <link href="../css/room.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            $(function(){
                var message = io.connect("https://mychatcatapp.herokuapp.com/messages");
                var roomNumber = {{room_number}};
                var userName = "{{user.fullname}}";
                var userPic = "{{user.profilePic}}";

                message.on("connect",function(){
                    console.log("connected room");
                    message.emit("joinroom" , {roomNumber:roomNumber ,userName: userName, userPic:userPic });
                });

                message.on("messagefeed" , function(data){
                    console.log("message feed");
                    var msg = JSON.parse(data);
                    updateMessageFeed(msg.userPic , msg.message , msg.userName);
                })

                $("#message").on("keyup" , function(key){
                    if(key.which === 13 && $(this).val() != ''){
                        message.emit("newmessage" , {
                            roomNumber: roomNumber,
                            userPic : userPic,
                            userName : userName,
                            message: $(this).val()
                        });
                        updateMessageFeed(userPic , $(this).val() , userName);
                        $(this).val("");
                    }

                })


                function updateMessageFeed(userPic , message , userName){
                    var str  = '<div class="item">';
                        str += '<img class="ui avatar image" src="'+userPic+'" >';
                        str += '<div class="content">';
                        str += '<div class="ui segment inverted blue message" data-tooltip="'+ userName +'" data-position="right center">'
                        str += message;
                        str += '</div></div></div>';            
                                
                    $("#messages").append(str);
                    $('.conversation').animate({ scrollTop: $('.conversation').prop("scrollHeight")});       
                }

                message.on("updateuserslist" , function(data){
                    console.log("here");
                    var userlist = JSON.parse(data);
                    $("#users").html("");
                    console.log(data);
                    console.log(userlist);
                    for(var i =0; i< userlist.length; i++){
                        var str =  '<div class="item">';
                            str += '<img class="ui avatar image" src="'+userlist[i].userPic+'">';
                            str += '<div class="content">';
                            str += '<div class="header">'+ userlist[i].userName +'</div>';
                            str += '</div></div>';
                        $("#users").append(str);    
                    }

                });
                var int = setInterval(function(){
                    message.emit("updatelist" , {rommNumber : roomNumber});
                } , 8000);
            });
        </script>
        
    </head>
    <body>
        <div class="ui text container raised segment">
            <div class="ui header huge">ChatCat</div>
            <div class="ui divider"></div>
            <img class="ui avatar image" src="{{user.profilePic}}" alt="">
            <span>{{user.fullname}}</span>
            <div class="ui right floated horizontal list">
                <a class="item" href="/chatrooms">Chat Rooms</a>
                <a class="item" href="/logout">Logout</a>
            </div>
            <br>
            <br>
            <div class="roomName">
                <h4 class="ui header center aligned">{{room_name}}</h4>
            </div>
            <br>  
            <div class="ui grid">
                <div class="eleven wide column">
                    <div class="ui segment conversation">
                        <div id="messages" class="ui top aligned mini list">
                            <!--<div class="item">
                                <img class="ui avatar image" src="../images/default-profile.png">
                                <div class="content">
                                    <div class="ui segment inverted blue message">
                                        message
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    
                </div>
                <div class="five wide column">
                    <div class="ui segment currentUsers">
                        <div id="users" class="ui middle aligned small selection list">
                            <!--<div class="item">
                                <img class="ui avatar image" src="../images/default-profile.png">
                                <div class="content">
                                    <div class="header">Helen</div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
                
            </div>
            <br>
            <div class="ui input fluid">
                <input id="message" placeholder="message"/>
            </div>
        </div>


        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    </body>
</html>